:root {
  --background-color: #873c03;
  --secondary-background-color: #efefef;

  --button-color: #6197d4;
  --button-color-hover: #4684be;
  --second-button-color-hover: #31982f;

  --locked: #de4646;
  --unlocked: #37a835;
  --pending: #545454;
  --skipped: #c8a929;

  --text-color: #050505;
  --secondary-text-color: #efefef;

  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;

  --icon-sm: 20px;
  --icon-md: 24px;
  --icon-lg: 40px;
  --icon-xl: 48px;
}
