:root {
  --background-color: #2c2f33;
  --secondary-background-color: #efefef;

  --button-color: #6aafef;
  --button-color-hover: #4a90d2;

  --locked: #f36060;
  --unlocked: #53c951;
  --pending: #8c8c8c;

  --text-color: #000000;
  --secondary-text-color: #ffffff;

  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;

  --icon-sm: 20px;
  --icon-md: 24px;
  --icon-lg: 40px;
  --icon-xl: 48px;
}
