:root {
  --background-color: #464c53;
  --secondary-background-color: #efefef;

  --button-color: #6197d4;
  --button-color-hover: rgb(70, 132, 190);

  --locked: #de4646;
  --unlocked: #37a835;
  --pending: #8c8c8c;

  --text-color: #000000;
  --secondary-text-color: #ffffff;

  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;

  --icon-sm: 20px;
  --icon-md: 24px;
  --icon-lg: 40px;
  --icon-xl: 48px;
}
