@import "../helpers/_variables";

/*
####
main
####
*/

#nav-snooze-status {
  text-align: center; /* Center the text horizontally */
  font-weight: bold; /* Make the text bold */
}

/*
########
sections
########
*/

section.control-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  div#prepare-result {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: 0 20px;
    max-width: 500px;
    /* width: 80%; */
    border-radius: 15px;
    padding: 20px 30px;
    background: var(--secondary-background-color);
  }
  section.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: 0 20px;
    max-width: 500px;
    /* width: 80%; */
    border-radius: 15px;
    padding: 20px 30px;
    background: var(--secondary-background-color);
    ul#reset-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      list-style: none;
      padding: 0;
      text-align: left;
      li {
        display: flex;
        align-items: center;
        input[type="checkbox"] {
          margin-right: 10px;
        }
      }
    }
  }
}
/*
#########
specifics
#########
*/

//   .important-controls {
//     position: sticky;
//     top: 0;
//     background-color: white; /* Set the background color to match the container */
//     /* Your existing CSS styles for .important-controls */
//   }

section.control-container {
  section.locks,
  section.lock-status {
    article.lock-control,
    div.status {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    button {
      align-self: center;
    }
  }
  section.tasks {
    div#task-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      list-style-type: none;
      text-align: left;
  
      p {
        display: flex;
        align-items: center; // Center items vertically
        cursor: pointer;
  
        // Task name should take all available space
        .task-name {
          flex: 1; // Allow task name to take all available space
        }
  
        .duration {
          margin-right: 10px; // Space between duration and state
          font-size: small; // Adjust font size if needed
        }
  
        strong {
          // State remains on the far right
        }
      }
    }
    article.task-button-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
  }
  section.locks {
    div.lock {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div.lock-buttons {
        button {
          border: none;
          background: none;
          cursor: pointer;
        }
      }
    }
  }
  section.lock-status {
    div.status {
      p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        strong {
          text-align: right;
        }
      }
    }
  }
}

/*
#########
preparing
#########
*/

.control-container {
  #prepare-result {
    #results-section {
      #device-status {
        display: flex;
        flex-direction: column;
        gap: 10px;
        #prepare-status-container {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
  }
}

/*
###############
pin info button
###############
*/

.pin-info {
  width: fit-content;
  align-self: center;
}

/*
#############
media queries
#############
*/

@media (min-width: 576px) {
  section.control-container {
    gap: 30px;
    div#prepare-result,
    section.control {
      width: 400px;
      align-self: center;
      margin: 0;
    }
  }
}

@media (min-width: 768px) {
  .icon {
    width: var(--icon-md);
    height: var(--icon-md);
  }
  section.control-container {
    gap: 40px;
    div#prepare-result,
    section.control {
      width: 450px;
      padding: 30px 40px;
    }
    section.locks,
    section.lock-status {
      article.lock-control,
      div.status {
        div.lock,
        p {
          // margin: 0 30px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  section.control-container {
    section.locks {
      article.lock-control {
        div.lock {
          div.lock-buttons {
            button.turn-on-button,
            button.turn-off-button {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: fixed; /* or absolute */
  top: 50%; /* adjust as needed */
  left: 50%; /* adjust as needed */
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.control-container {
  .light-container {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    .lights {
      position: relative;
      width: 250px;
      .light-buttons {
        position: absolute;
        top: 0;
        width: 100%;
        img {
          position: absolute;
          cursor: pointer;
          width: var(--icon-sm);

          &:nth-of-type(1) {
            left: 40px;
            top: 20px;
          }
          &:nth-of-type(2) {
            left: 70px;
            top: 80px;
          }
          &:nth-of-type(3) {
            left: 15px;
            top: 80px;
          }
          &:nth-of-type(4) {
            left: 40px;
            top: 100px;
          }
          &:nth-of-type(5) {
            left: 40px;
            top: 135px;
          }
          &:nth-of-type(6) {
            left: 180px;
            top: 180px;
          }
          &:nth-of-type(7) {
            left: 50px;
            top: 200px;
          }
          &:nth-of-type(8) {
            left: 5px;
            top: 210px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .control-container {
    .light-container {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: center;
      margin: 0 20px;
      .lights {
        position: relative;
        // width: 500px;
        .light-buttons {
          position: absolute;
          top: 0;
          width: 100%;
          img {
            position: absolute;
            cursor: pointer;
            width: var(--icon-sm);
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .control-container {
    .light-container {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: center;
      margin: 0 20px;
      .lights {
        position: relative;
        width: 400px;
        .light-buttons {
          position: absolute;
          top: 0;
          width: 100%;
          img {
            position: absolute;
            cursor: pointer;
            width: var(--icon-lg);

            &:nth-of-type(1) {
              left: 60px;
              top: 30px;
            }
            &:nth-of-type(2) {
              left: 100px;
              top: 110px;
            }
            &:nth-of-type(3) {
              left: 30px;
              top: 110px;
            }
            &:nth-of-type(4) {
              left: 60px;
              top: 150px;
            }
            &:nth-of-type(5) {
              left: 60px;
              top: 215px;
            }
            &:nth-of-type(6) {
              left: 290px;
              top: 300px;
            }
            &:nth-of-type(7) {
              left: 90px;
              top: 310px;
            }
            &:nth-of-type(8) {
              left: 5px;
              top: 330px;
            }
          }
        }
      }
    }
  }
}
