@import "../helpers/_variables";

footer {
  text-align: center;
  background: var(--secondary-background-color);
  padding: 0.5em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  a:hover {
    text-decoration: underline;
  }
}
