@import "../helpers/_variables";

/*
######
header
######
*/

header {
  &.logo {
    height: 64px;
  }
  .back-button {
    width: var(--icon-sm);
    height: var(--icon-md);
    position: fixed;
  }
  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    figcaption {
      align-self: center;
    }
  }
}

@media (min-width: 768px) {
  .logo {
    height: 80px;
  }
}

/*
###########
room header
###########
*/

header.header-logo {
  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

header.retriever-logo {
  height: 80px;
  margin-bottom: -15px;
}

@media (min-width: 576px) {
  .retriever-logo {
    height: 96px;
    margin-bottom: -20px;
  }
}

@media (min-width: 768px) {
  .retriever-logo {
    margin-bottom: -30px;
    height: 110px;
  }
}

@media (min-width: 1200px) {
  .retriever-logo {
    height: 140px;
    margin-bottom: -35px;
  }
}
