@import "../helpers/_variables";

/*
#######
buttons
#######
*/

button,
a {
  background: none;
  border: none;
  &:active {
    border: 2px solid #161616;
  }
  &:focus {
    border: 3px solid #161616;
    outline: none;
  }
}

.button-style {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: var(--secondary-text-color);
  align-items: center;
  width: 150px;
  cursor: pointer;
  background: var(--button-color);
  text-align: center;
  &:hover {
    background: var(--button-color-hover);
  }
}

.icon {
  width: var(--icon-sm);
  height: var(--icon-sm);
  border: none;
  background: none;
  cursor: pointer;
}
