@import "../helpers/_variables";

/*
#######
buttons
#######
*/

button,
a {
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(0 0 2px #c0c0c0);
  }
  &:active {
    border: 2px solid #161616;
  }
  &:focus {
    border: 2px dotted #161616;
    outline: none;
  }
}

.button-style {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: var(--secondary-text-color);
  align-items: center;
  width: 150px;
  cursor: pointer;
  background: var(--button-color);
  text-align: center;
  &:hover {
    background: var(--button-color-hover);
  }
}

.icon {
  width: var(--icon-sm);
  height: var(--icon-sm);
  border: none;
  background: none;
  cursor: pointer;
}
.toggle-button {
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: transparent;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #007bff;
  color: #fff;
}

.toggle-button:focus {
  outline: none;
}
