@import "../helpers/_variables";

.sensor-list-page body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.sensor-list-page h1 {
    color: #333;
}

.sensor-list-page table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sensor-list-page th, .sensor-list-page td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.sensor-list-page th {
    background-color: #007BFF;
    color: #fff;
}

.sensor-list-page .button-style {
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .sensor-list-page table {
        overflow-x: auto;
    }
}