<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fonts.css')}}">
    <link rel="icon" href="static/img/logo.png" type="image/png">
</head>
<body class="add-sensor-page">
    <h1>Add a New Item</h1>
    <form method="POST" action="/add_sensor/Moonlight Village">
        <label for="name">Item Name:</label>
        <input type="text" name="name" required><br>

        <label for="type">Item Type:</label>
        <select name="type" required>
            <option value="Sensor">Sensor</option>
            <option value="light">Light</option>
            <option value="maglock">Maglock</option>
            <option value="button">Button</option>
        </select><br>

        <label for="pin">Item Pin:</label>
        <input type="number" name="pin" required><br>

        <label for="pi">Connected to Raspberry Pi:</label>
        <select name="pi" required>
            <option value="mlv-corridors">mlv-corridors</option>
            <option value="mlv-astronomy">mlv-astronomy</option>
            <option value="mlv-herbalist">mlv-herbalist</option>
            <option value="mlv-central">mlv-central</option>
            <option value="mlv-tavern">mlv-tavern</option>
        </select><br>
        <label for="connection_type">Connection Type:</label>
        <select name="connection_type" required>
            <option value="NC">Normally Closed (NC)</option>
            <option value="NO">Normally Open (NO)</option>
        </select><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/list_sensors" class="button-style">Back to List</a>
</body>
</html>
