<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A-moebe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fonts.css')}}">
    <link rel="icon" href="static/img/logo.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
    <style>
        .progress-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            }

            .progress-bar {
            width: 20px;
            height: 20px;
            margin: 2px;
            background-color: gray;
            border-radius: 4px;
        }
    </style>
</head>
<body class="landing-page">

    <header class="logo">
        <figure class="logo-container">
            <img src="static/img/logo.png" alt="Logo">
            <figcaption>A-Moebe</figcaption>
        </figure>
    </header>

    <section class="rooms">
        <h2>Kamers</h2>

        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;">
            <h2 style="color: black;">Merol klik hier!!!!</h2>
            <a target="_blank" class="button-style" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Alleen sexy Merol mag hierop klikken</a>
        </div>

        <!-- Loop through escape rooms and generate HTML for each -->
        {% for room in escape_rooms %}
        <article class="krijgsgevangenis-container">
            <a href="rooms/{{ room }}" id = "krijgsgevangenis-link" class="krijgsgevangenis-link">
                <div class="preview">
                    <p id="{{ room|replace(' ', '-') }}-time-played" class="text-red">loading...</p>
                    <h3>{{ room|capitalize }}</h3>
                    <p id="{{ room|replace(' ', '-') }}-time-left" class="text-green">loading...</p>
                </div>
                <div class="progress-container" id="progress-{{ room|replace(' ', '-') }}">
                    <!-- Progress bars will be added here by JavaScript -->
                </div>
            </a>
        </article>
        {% endfor %}
    </section>
    <a href="/game_data.html" class="button-style"><button>View Game Data</button></a>
    <h1>YouTube to OGG Converter</h1>
    <form action="/convert" method="post">
        <label for="youtubeURL">YouTube Video URL:</label>
        <input type="text" id="youtubeURL" name="youtubeURL" required>
        <button type="submit">Convert</button>
    </form>
    <a href="/create_room_template" class="button-style main-button">Create Room</a>
    <footer>
        <a href="/" class="button-style">Kamers</a>
    </footer>

    <!-- <script src="{{ url_for('static', filename='js/sketch.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% for room in escape_rooms %}
    <script>
    function updateTimer() {
    var initialTime = 3600;
    // First, get the initial time and update initialTime before proceeding
    $.get(`/initial_time/{{ room }}`, function (initialTimeData) {
        initialTime = parseInt(initialTimeData); // Update initialTime
        console.log(initialTime);
        // Now that initialTime is updated, we can get the current timer value
        $.get(`/timer/value/{{ room }}`, function (timerData) {
            var timeLeft = parseInt(timerData);
            var timePlayed = initialTime - timeLeft;

            var formattedTimeLeft = formatTime(timeLeft);
            var formattedTimePlayed = formatTime(timePlayed);

            var roomId = "{{ room }}".replace(/\s+/g, '-'); // Replace spaces with hyphens

            // Update the time on the page
            $("#" + roomId + "-time-left").text(formattedTimeLeft);
            $("#" + roomId + "-time-played").text(formattedTimePlayed);
        });
    });
}
      // Call the timer update function for {{ room }} initially
      setInterval(updateTimer, 1000);
      function formatTime(seconds) {
        var minutes = Math.floor(seconds / 60);
        var remainingSeconds = seconds % 60;
        return (
            minutes +
            ":" +
            (remainingSeconds < 10 ? "0" : "") +
            remainingSeconds.toFixed(0)
        );
  }
  function updateTaskProgress(room) {
          $.get(`/get_task_progress/${room}`, function (data) {
            var totalTasks = data.total;
            var solvedTasks = data.solved;
            var progressContainer = $("#progress-" + room.replace(/\s+/g, '-'));
            progressContainer.empty(); // Clear existing bars
      
            for (var i = 0; i < totalTasks; i++) {
              var bar = $('<div>').addClass('progress-bar').css('background-color', i < solvedTasks ? 'green' : 'gray');
              progressContainer.append(bar);
            }
          });
        }
        updateTaskProgress("{{ room }}");
        setInterval(() => updateTaskProgress("{{ room }}"), 1000);
    </script>
    {% endfor %}
</body>
</html>
