<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A-moebe Beta</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fonts.css')}}">
    <link rel="icon" href="static/img/logo.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
</head>
<body class="landing-page">

    <header class="logo">
        <figure class="logo-container">
            <img src="static/img/logo.png" alt="Logo">
            <figcaption>A-Moebe</figcaption>
        </figure>
    </header>

    <section class="rooms">
        <h2>Kamers</h2>

        <!-- Loop through escape rooms and generate HTML for each -->
        {% for room in escape_rooms %}
        <article class="krijgsgevangenis-container">
            <a href="rooms/{{ room }}" id = "krijgsgevangenis-link" class="krijgsgevangenis-link">
                <div class="preview">
                    <p id="time-played">00:00</p>
                    <h3>{{ room|capitalize }}</h3>
                    <p id="time-left">60:00</p>
                </div>
            </a>
        </article>
        {% endfor %}
    </section>
    <a href="/game_data.html" class="button-style"><button>View Game Data</button></a>
    <h1>YouTube to OGG Converter</h1>
    <form action="/convert" method="post">
        <label for="youtubeURL">YouTube Video URL:</label>
        <input type="text" id="youtubeURL" name="youtubeURL" required>
        <button type="submit">Convert</button>
    </form>
    <a href="/create_room_template" class="button-style main-button">Create Room</a>
    <footer>
        <a href="/">Kamers</a>
    </footer>

    <script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
