<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Media Control</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fonts.css')}}">
    <link rel="icon" href="static/img/logo.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
</head>
<body>
    <section class="selection-container media-selection-container">
        <h1>Media Control</h1>

        <h2>Add music to middle-pi</h2>
            <button id="add-music-button1">Add</button>
        <h2>Available MP3 Files:</h2>
        <ul class="file-selection-list">
            {% for file in mp3_files %}
                <li class="file-select">{{ file }}</li>
            {% endfor %}
        </ul>
        <h2>Delete MP3 Files:</h2>
        <form action="/delete_music" method="post">
            <select name="file">
                {% for file in mp3_files %}
                    <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="button" value="Delete">
        </form>
    </section>
    <script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
</body>
</html>
